<table class="total_table" border="0">
  <tbody>
    <tr>
      <td colspan="2" align="right"><a href=
                                    "https://dchealthlink.com/"
                                    target=
                                    "_blank">
                                    <%= image_tag "#{Rails.root}/app/assets/images/dchealthlink.jpg", style: "height: auto; vertical-align: top;", width: "100"  %>
                                  </a></td>
    </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
    <tr>
      <td><h1><b>ACTION NEEDED</b></h1></td>
    </tr>
    <tr>
      <td style="font-size: 22px; margin-top: -15px">Submit Documents to <%= Settings.site.short_name %>
      <hr style="height: 0px;  border-color: black; border-bottom: 0px; border-width: 1px 0 0 0;">
      </td>
    </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
  content: "<strong>Why am I being asked to submit documents to #{Settings.site.short_name}?</strong>", top_margin: '5px'} %>

<% if notice.aqhp_enrollments.present? %>
  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
   content: "We need documents from you to verify what you told us on your application. We’re required by federal law to be sure that people who enroll in health insurance through #{Settings.site.short_name} are eligible. We’re also required to be sure that people who receive help paying for insurance are eligible for the help they’re receiving.", top_margin: '5px'} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
   content: "We need documents from you to verify what you told us on your application. We’re required by federal law to be sure that people who enroll in health insurance through #{Settings.site.short_name} are eligible.", top_margin: '5px'} %>
<% end %>
<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
 content: "<strong>When is the deadline to submit documents?</strong>", top_margin: '8px'} %>
<% if notice.notification_type == "ivl_to_coverall_transition_notice"%>
  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
    content: "The first deadline is #{notice.past_due_text}. Different people may have different deadlines. You should submit all your documents as soon as possible. If you do not return the documents by the deadline, you could lose your insurance or cost savings.", top_margin: '5px', bottom_margin: '5px'} %>
<% else %>
  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
      content: "The first deadline is #{notice.due_date.strftime("%B %d, %Y")}. Different people may have different deadlines. You should submit all your documents as soon as possible. If you do not return the documents by the deadline, you could lose your insurance or cost savings.", top_margin: '5px', bottom_margin: '5px'} %>
<% end %>
<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
 content: "<strong>How can I submit documents to #{Settings.site.short_name}?</strong>", top_margin: '5px'} %>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
 content: "There are 3 ways for you to submit the documents we need to make a final decision on your eligibility:", top_margin: '5px', bottom_margin: '5px'} %>

<table class="total_table thick_broder layout_fixed" border="1" cellpadding="5">
  <tr style="text-align: left">
    <th>
      Online
    </th>
    <th>
      By US Mail
    </th>
    <th>
      In Person
    </th>
  </tr>
  <tr valign="top">
    <td>
      Login to your account at <a href= <%= Settings.site.home_url %> > <%= notice.hbe.short_url %></a>. You can upload scanned copies of the documents directly to your account.
    </td>
    <td>
      <p><%= Settings.site.short_name%></p>
      <p style="margin-top: -10px;">Exchange Contact Center</p>
      <p style="margin-top: -10px;">PO Box 44018</p>
      <p style="margin-top: -10px;">Washington, DC 20026</p>
      <p><i>Be sure to write your <%= Settings.site.short_name%> ID (<%= notice.primary_identifier %>) on each of the documents.</i></p>
    </td>
    <td>
      Bring the document(s) to any Economic Security Administration Office for help. You can call <%= Settings.site.short_name%> at <%= notice.hbe.phone %> to find a location near you.
    </td>
  </tr>
</table>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
 content: "<strong>What if I have questions?</strong>", top_margin: '8px'} %>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
 content: "Call #{Settings.site.short_name} at #{notice.hbe.phone}.", top_margin: '5px', bottom_margin: '5px'} %>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
 content: "<strong>Which documents do I need to submit?</strong>", top_margin: '5px'} %>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
 content: "We need documents for each person listed. Please scan or make a copy of the document you send to us. Do not give us the original.", top_margin: '5px', bottom_margin: '5px'} %>

<!-- SSN -->
<% if notice.ssa_unverified.any? %>
  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
   content: "<strong>Social Security Number:</strong> The Social Security Administration could not confirm that the social security number provided for the following applicant(s) is correct:", top_margin: '5px', bottom_margin: '5px'} %>

  <%= render partial: 'notices/shared/household_member_details', :locals => {
   rows: [notice.ssa_unverified], top_margin: '5px', bottom_margin: '2px'} %>

  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
     content: "You must use a social security card to verify the social security number(s) you provided to us. If you do not have a social security number, or cannot find your card, we can help you obtain one. You may not need to provide a social security number if you have a confirmed religious objection."} %>
<% end %>
<!-- SSN -->

<!-- Citizneship -->
<% if notice.dhs_unverified.any? %>
  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
     content: "<strong>Citizenship:</strong> We need proof of US citizenship for the following applicant(s):", top_margin: '5px', bottom_margin: '5px'} %>
  <%= render partial: 'notices/shared/household_member_details', :locals => {
   rows: [notice.dhs_unverified], top_margin: '5px'} %>

  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
     content: "There are two types of documents you can use to prove citizenship status. We call the two types “primary” and “secondary”. If you provide primary documentation, no other documents are needed. If you provide secondary documentation, other identification (ID) is required for verification. Secondary documentation must include a copy of an identification card that has a recent photo and other identifying information.", bottom_margin: '5px'} %>
  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
     content: "PRIMARY DOCUMENTATION: (Only one (1) is needed)", top_margin: '5px'} %>

  <div style="display:block;">
    <table class="total_table" border="0">
      <tbody>
        <tr>
          <td>
            <ul>
              <li>
                US passport (expired passports are acceptable)
              </li>
              <li>
                Certificate of naturalization
              </li>
              <li>
                Certificate of citizenship
              </li>
              <li>
                Consular report of birth abroad of US citizen
              </li>
              <li>
                A valid driver’s license from a state that requires proof of citizenship and verification of Social Security number prior to issuance of the license
              </li>
              <li>
                A Tribal document issued by a federally recognized Tribe - for example, a Tribal enrollment card, certificate of degree of American Indian blood, or a Tribal census document, which must:
                <ul>
                  <li>
                    Identify the Tribe issuing the document;
                  </li>
                  <li>
                    Identify the individual by name; and
                  </li>
                  <li>
                    Confirm the individual’s enrollment in, or affiliation with the Tribe.
                  </li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <%= render partial: 'notices/shared/unordered_list', locals: {
    previous: "SECONDARY DOCUMENTATION: (Must present one (1) of the following, along with ID)",
    listings: ["A US birth certificate showing birth in one of the 50 states, DC, Guam, American Samoa, Swain’s Island, Puerto Rico, the Virgin Islands, or the Commonwealth of the Northern Mariana Islands.  If born in Puerto Rico, the Virgin Islands, or Commonwealth of the Northern Mariana Islands prior to the time these areas became part of the US, the individual will satisfy the citizenship requirement if he or she is a collectively naturalized citizen."," A Northern Mariana ID card, issued to a collectively naturalized citizen, who was born in the Commonwealth of the Northern Mariana Islands before November 4, 1986"," A certification of report of birth, issued to US citizens born outside the US"," A report of birth abroad of a US citizen"," A birth certificate"," A US citizen ID card"," A final adoption decree showing the child’s name and US place of birth, or if an adoption is not final, a statement from a state approved adoption agency that shows the child’s name and US place of birth"," Evidence of US civil service employment before June 1, 1976"," US military record showing a US place of birth"," Documentation that a child meets the requirements of §101 of the Child Citizenship Act "," Medical records that indicate a US place of birth"," Life, health, or other insurance record that indicates a US place of birth"," Official religious record recorded in the US showing that the birth occurred in the US"," School records showing a US place of birth"," Federal or state census record showing US citizenship or a US place of birth"]} %>
<% end %>
<!-- Citizenship -->

<!-- Immigration -->
<% if notice.immigration_unverified.any? %>
  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
   content: "<strong>Immigration Status:</strong> We need proof of the immigration status for the following applicant(s):", top_margin: '5px', bottom_margin: '5px'} %>

  <%= render partial: 'notices/shared/household_member_details', :locals => {
   rows: [notice.immigration_unverified], bottom_margin: '5px'} %>

  <%= render partial: 'notices/shared/unordered_list', locals: {
    previous: "Documents you may be able to use to verify your immigration status include:",
    listings: ["Permanent resident card (I-551, also known as a “green card”)","Temporary I-551 stamp (on passport or I-94, I-94A)","Immigrant visa (with temporary I-551 language)","Employment authorization card (EAD or I-766)","Arrival/departure record (I-94 or I-94A)","Arrival/departure record in foreign passport (I-94)","Non-immigrant visa in a foreign passport","Country of issuance reentry permit (I-327)","Refugee travel document (I-571)","Certificate of eligibility for nonimmigrant (F-1) student status (I-20)","Certificate of eligibility for exchange visitor (J-1) status (DS2019)","Notice of action (I-797)"]} %>

  <%= render partial: 'notices/shared/unordered_list', locals: {
    previous: "You can also list these documents or statuses:",
    listings: ["Document indicating a member of a federally recognized American Indian Tribe or Alaska Native born in Canada. (This is considered an eligible immigration status for Medicaid, but not for a Qualified Health Plan [QHP])","Office of Refugee Resettlement (ORR) eligibility letter (if under 18)","Document indicating withholding of removal","Administrative order staying removal issued by the Department of Homeland Security (DHS)","Certification from the US Department of Health and Human Services (HHS) Office of Refugee Resettlement (ORR)","Cuban/Haitian entrant","Resident of American Samoa"]} %>
<% end %>
<!-- Immigration -->

<!-- Income Verification -->
<% if notice.income_unverified.any? %>
  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
    content: "<strong>Household Income:</strong> We need proof of annual income for:", top_margin: '5px'} %>

  <%= render partial: 'notices/shared/household_member_details', :locals => {
    rows: [notice.income_unverified], top_margin: '5px', bottom_margin: '5px'} %>


  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
    content: "You must submit a copy of your most recent tax return, including all forms and schedules. If you expect your income for #{notice.coverage_year} to be the same as the income on your most recent tax return, we only need your tax return.", top_margin: '10px'} %>

  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
    content: "If you expect your income for <coverage year> to be different than what is shown on your most recent tax return, you should also submit documents that show the income you expect to have for #{notice.coverage_year}. The documents you can submit in addition to your most recent tax return include:", top_margin: '10px'} %>

  <%= render partial: 'notices/shared/paragraph', :locals => {
    content: "If you expect your income for <coverage year> to be different than what is shown on your most recent tax return, you should also submit documents that show the income you expect to have for #{notice.coverage_year}. The documents you can submit in addition to your most recent tax return include:", top_margin: '10px'} %>

  <%= render partial: 'notices/shared/unordered_list', locals: {
    listings: ["Recent pay stubs (showing at least 4 weeks in a row)"," Recent pay stubs (showing at least 4 weeks in a row)","A letter from the employer stating salary","Business ledgers or contracts for self-employment income","Award letters and statements (for example: for civil service retirement, Social Security, railroad retirement, and unemployment)","Statements from financial institutions (for example: for interest, capital gains, dividends, and annuities)","Documentation of any adjustments to income (for example, alimony payments, payments for self-employed health insurance, student loan interest) that you intend to take on your federal tax return in #{notice.coverage_year}"]} %>

  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
    content: "If your income has changed since your documents were issued, or you expect it to change, you should include an explanation of why you expect your income to be different from what the documents show.", top_margin: '-5px',  bottom_margin: '5px'} %>
<% end %>

<!-- Residency Verification -->
<% if notice.residency_inconsistency.any? %>
  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
    content: "<strong>DC Residency:</strong> A document that shows that the following household members live in the District of Columbia:", top_margin: '5px'} %>

  <%= render partial: 'notices/shared/household_member_details', :locals => {
   rows: [notice.residency_inconsistency], top_margin: '5px', bottom_margin: '5px'} %>

  <%= render partial: 'notices/shared/unordered_list', locals: {
    previous: "This can include any of the following that is in the person’s name:",
    listings: ["A copy of an active lease agreement, certified deed, or mortgage statement with DC address", "A phone or utility bill from within the past two months","DC voter registration card","A valid District of Columbia motor vehicle registration or DC DMV identification card","Cancelled checks or receipts for mortgage or rental payments on a residential property within the past 2 months","Utility bills with a DC address, and payment receipts within the past 2 months","Proof of automobile insurance showing the person’s DC residency address","A signed DC Department of Motor Vehicles proof of residency form from another District resident stating that the applicant lives at their address in the District. (available at: <a href='https://dmv.dc.gov/page/proof-dc-residency-certifications'>https://dmv.dc.gov/page/proof-dc-residency-certifications</a>)","Self-attestation of residency without paper documentation in exceptional circumstances, including homelessness and in cases of domestic violence"]} %>
<% end %>
<!-- Residency Verification -->

<!-- MEC Conflict -->
<% if notice.mec_conflict.any? %>
  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
    content: "<strong>Access to Other Health Insurance:</strong> Our records indicate that the people listed below have access to #{notice.mec_conflict.first["mec_type_1"]}:", top_margin: '5px'} %>

  <%= render partial: 'notices/shared/household_member_details', :locals => {
   rows: [notice.mec_conflict], top_margin: '5px', bottom_margin: '5px'} %>

<% if notice.mec_conflict.first["mec_type_2"].present? %>
  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
  content: "Our records indicate that the following individual(s) have access to #{notice.mec_conflict.first["mec_type_2"]}:"} %>

  <%= render partial: 'notices/shared/household_member_details', :locals => {
    rows: [notice.mec_conflict], top_margin: '5px', bottom_margin: '5px'} %>
<%end%>

  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
    content: "This would make the people listed above ineligible for help paying for health insurance with advance premium tax credits or cost-sharing reductions.  Please provide documentation that this health insurance has ended.", top_margin: '5px', bottom_margin: '7px'} %>
<%end %>
<!-- MEC Conflict -->

<!-- Indian Inconsistency/American Indian or Alaskan Native-->
<% if notice.american_indian_unverified.any? %>
  <%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
    content: "<strong>American Indian or Alaska Native Status:</strong> On your application or renewal form, you indicated that the following people are American Indian or Alaska Native:", top_margin: '5px'} %>

  <%= render partial: 'notices/shared/household_member_details', :locals => {
   rows: [notice.american_indian_unverified], top_margin: '5px', bottom_margin: '5px'} %>

  <%= render partial: 'notices/shared/unordered_list', locals: {
    previous: "You can provide any formal documentation from a federally recognized Tribe, Indian Health Services, or the Bureau of Indian Affairs that verifies American Indian or Alaska Native status. Examples of such verifications include, but are not limited to the following:",
    listings: ["A document issued by a federally recognized American Indian/Alaska Native Tribe, such as an enrollment or membership card, a Tribal passport, a Tribal census document, or a document issued by a Tribe indicating the person’s affiliation with the Tribe;", "A document issued by the Indian Health Services indicating that the person is eligible for Indian Health Services as an American Indian or Alaska Native; or","A document obtained from the Bureau of Indian Affairs recognizing the person as an American Indian or Alaska Native."]} %>

  <%= render partial: 'notices/shared/unordered_list', locals: {
    previous: "For American Indians or Alaska Native born outside of the United States, we will accept the following documents:",
    listings: ["A Form I-94 with a notation of “S1-3”;", "I-551 permanent resident card stamped “S1-3”;", "Temporary I-551 stamp coded “S1-3” in a Canadian passport;", "A Tribal record or document certifying at least 50 percent American Indian blood, as required by Section 289 of the Immigration and Nationality Act (INA); and satisfactory evidence of birth in Canada, such as a birth certificate or baptismal certificate issued on a reservation; a letter from the Canadian Department of Indigenous and Northern Affairs; or school records."]} %>
<% end %>
<!-- Indian Inconsistency/American Indian or Alaskan Native-->

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
  content: "<strong>These are all the documents we need at this time. If you think you will not be able to submit your documents because of circumstances outside of your control, please call #{Settings.site.short_name} at #{notice.hbe.phone}. If you need help, we’ll work with you.</strong>"} %>

<%= render partial: 'notices/shared/paragraph_with_margins', :locals => {
    content: "<br></br>_____________________________________________________________________________________________________________"} %>

<% if notice.notification_type && notice.notification_type == "enrollment_notice" %>
  <%= render partial: 'notices/shared/reference_paragraph', :locals => {
  contents: ["<strong>Legal Reference:</strong> The following laws, regulations and rules apply to this letter:<br>",
  "Eligibility standards:  45 CFR §155.305",
  "Social Security number requests/use:  45 CFR §155.305(f)(6)",
  "Eligibility process:  45 CFR §155.310",
  "Eligibility for enrollment in a qualified health plan:  45 CFR §155.315",
  "Document requests:  45 CFR §155.315(f)(2)(ii)",
  "Eligibility verification process for insurance affordability programs:  45 CFR §155.320",
  "Annual open enrollment period:  45 CFR §155.410(e)",
  "Special enrollment periods: 45 CFR §155.420",
  "Voluntary termination of health plan: 45 CFR §155.430(b)(1)",
  "Non-voluntary termination of health plan: 45 CFR §155.430(b)(2)",
  "Eligibility appeals:  45 C.F.R. §155.500 et. seq."]} %>
<% elsif notice.notification_type && notice.notification_type == "ivl_backlog_verification_notice_uqhp" %>
  <%= render partial: 'notices/shared/reference_paragraph', :locals => {
  contents: ["<strong>Legal Reference:</strong> The following laws, regulations and rules apply to this letter:<br>",
  "Eligibility for enrollment in a qualified health plan: 45 CFR §155.305(a)",
  "Social Security Number requests/use: 45 CFR §155.305(f)(6)",
  "Verifying eligibility for enrollment in a qualified health plan: 45 CFR §155.315",
  "Document requests: 45 CFR §155.315(f)(2)(ii)",
  "Non-voluntary termination of health plan: 45 CFR §155.430(b)(2)"]} %>
<% elsif notice.notification_type && notice.notification_type == "ivl_to_coverall_transition_notice" %>
  <%= render partial: 'notices/shared/reference_paragraph', :locals => {
  contents: ["<strong>Legal Reference:</strong> The following laws, regulations and rules apply to this letter:<br>",
  "Eligibility standards: 45 CFR §155.305",
  "Social security number requests/use: 45 CFR §155.305(f)(6)",
  "Eligibility process: 45 CFR §155.310",
  "Eligibility for enrollment in a qualified health plan: 45 CFR §155.315",
  "Document requests: 45 CFR §155.315(f)(2)(ii)",
  "Eligibility verification process for insurance affordability programs: 45 CFR §155.320",
  "Special enrollment periods: 45 CFR §155.420",
  "Non-voluntary termination of health plan: 45 CFR §155.430(b)(2)",
  "Eligibility appeals:  45 C.F.R. §155.500 et. seq."]} %>
<% else %>
  <%= render partial: 'notices/shared/reference_paragraph', :locals => {
  contents: ["<strong>Legal Reference:</strong> The following laws, regulations and rules apply to this letter:<br>",
  "Eligibility standards:  45 CFR §155.305",
  "Social Security number requests/use:  45 CFR §155.305(f)(6)",
  "Eligibility process:  45 CFR §155.310",
  "Eligibility for enrollment in a qualified health plan:  45 CFR §155.315",
  "Document requests:  45 CFR §155.315(f)(2)(ii)",
  "Eligibility verification process for insurance affordability programs:  45 CFR §155.320",
  "Annual open enrollment period:  45 CFR §155.410(e)",
  "Special enrollment periods: 45 CFR §155.420",
  "Voluntary termination of health plan: 45 CFR §155.430(b)(1)",
  "Non-voluntary termination of health plan: 45 CFR §155.430(b)(2)"]} %>
<% end %>