<div class="col-lg-3 col-md-3 co-sm-3 col-xs-12 filter-sidebar input-no-pd">
  <div class="row">
    <div class="checkbox-filter-wrapper">
      <% if !@hbx_enrollment.is_shop? %>
      <% end %>
      <h4>
        <%= find_my_doctor %>
        <% if @market_kind == "individual" && @coverage_kind == "health" %>
          <%=link_to l10n("estimate_your_cost") , "", data: {toggle: "modal", target: "#plan_match_redirection"} %>
          <% elsif @market_kind == "individual" && @coverage_kind == "dental" %>
          <%= link_to l10n("estimate_your_cost"), 'https://dc.checkbookhealth.org/sadpi/dc/2019/', target: '_blank' %>
          <% # Staging url should be changed with PROD URL before going to production REDMINE #36809 %>
        <% end %>
        </br>
        <% if plan_match_dc %>
        <%= estimate_your_costs %>
        <% end %>
      </br>
      </h4>
    </div>

   <div class="modal fade" id="plan_match_redirection" tabindex="-1" role="dialog" role="document">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header" style="border-bottom:none">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <hr>
          </div> 
          <div style="margin-left:20px;">
            <p><%= l10n("modal_onscreen1") %></p>
            <p><%= l10n("modal_onscreen2") %></p>
            <p><%= l10n("modal_onscreen3") %></p>
            <p><%= l10n("modal_onscreen4") %></p>
            <p><%= l10n("modal_onscreen5") %></p>
            <p><%= l10n("modal_onscreen6") %></p>
            <p><%= l10n("modal_onscreen7") %></p>
            <p><%= l10n("modal_onscreen8") %></p>
            <p><%= l10n("modal_onscreen9") %></p>
          </div>
          <div class="modal-footer" style="margin-right:190px">
            <button type="button" class="btn btn-default btn-default" data-dismiss="modal">Cancel</button>
            <%if @hbx_enrollment.effective_on.year == 2019%>
            <%=link_to l10n("confirm") , @dc_individual_checkbook_url, class: "btn btn-primary checkbook_url mtz" %>
            <% elsif @hbx_enrollment.effective_on.year == 2018%>
            <%=link_to l10n("confirm") , @dc_individual_checkbook_previous_year , class: "btn btn-primary  mtz", target: '_blank' %>
            <% end %>
          </div>
       </div>
    </div>
  </div>


  <div class="modal fade" id="plan_match_family" tabindex="-1" role="dialog" role="document">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header" style="border-bottom:none">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <hr>
          </div> 
           <div style="text-align: center;">
            <p><%= l10n("modal_onscreen1") %></p>
            <p><%= l10n("modal_onscreen2") %></p>
            <p><%= l10n("modal_onscreen3") %></p>
            <p><%= l10n("modal_onscreen4") %></p>
            <p><%= l10n("modal_onscreen5") %></p>
            <p><%= l10n("modal_onscreen6") %></p>
            <p><%= l10n("modal_onscreen7") %></p>
            <p><%= l10n("modal_onscreen8") %></p>
            <p><%= l10n("modal_onscreen9") %></p>
          </div>
          <div class="modal-footer" style="margin-right:190px">
            <button type="button" class="btn btn-default btn-default" data-dismiss="modal">Cancel</button>
            <%=link_to l10n("confirm") , 'https://dc.checkbookhealth.org/dc/', class: "btn btn-primary  mtz", target: '_blank'  %>
          </div>
       </div>
    </div>
  </div>


  <h3 class="header-title">Filter Results</h3>
  <% if @market_kind == "individual" || @benefit_group.try(:plan_option_kind) == "single_carrier" %>
  <div class="checkbox-filter-wrapper">
    <h5><strong>Metal Level</strong> <a href="#" data-toggle="tooltip" data-placement="right" data-container="body" title="Plans use metal levels as an easy way to help indicate how generous they are in paying expenses.
    Metal levels only focus on what the plan is expected to pay, and do NOT reflect the quality of health care or service providers available through the health insurance plan."><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></h5>

    <ul class="list-unstyled">
      <li>
        <div class="checkbox">
          <label>
            <input id="plan-metal-level-platinum" class="plan-metal-level-selection-filter checkbox-custom" name="plan-metal-level-platinum" type="checkbox" data-plan-metal-level-filter="platinum">
            <label for="plan-metal-level-platinum" class="checkbox-custom-label"><span data-toggle="tooltip" data-placement="right" data-container="body" title="<%= l10n('insured.plan_shoppings.plan_filters_platinum_title_info') %>"><%= l10n("platinum") %></span></label>
          </label>
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label>
            <input id="plan-metal-level-gold" class="plan-metal-level-selection-filter checkbox-custom" name="plan-metal-level-gold" type="checkbox" data-plan-metal-level-filter="gold">
            <label for="plan-metal-level-gold" class="checkbox-custom-label"><span data-toggle="tooltip" data-placement="right" data-container="body" title="<%= l10n('insured.plan_shoppings.plan_filters_gold_title_info') %>" ><%= l10n("gold") %></span></label>
          </label>
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label>
            <input id="plan-metal-level-silver" class="plan-metal-level-selection-filter checkbox-custom" name="plan-metal-level-silver" type="checkbox" data-plan-metal-level-filter="silver">
            <label for="plan-metal-level-silver" class="checkbox-custom-label"><span data-toggle="tooltip" data-placement="right" data-container="body" title="<%= l10n('insured.plan_shoppings.plan_filters_silver_title_info') %>"><%= l10n("silver") %></span></label>
          </label>
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label>
            <input id="plan-metal-level-bronze" class="plan-metal-level-selection-filter checkbox-custom" name="plan-metal-level-bronze" type="checkbox" data-plan-metal-level-filter="bronze">
            <label for="plan-metal-level-bronze" class="checkbox-custom-label"><span data-toggle="tooltip" data-placement="right" data-container="body" title="<%= l10n('insured.plan_shoppings.plan_filters_bronze_title_info') %>"><%= l10n("bronze") %></span></label>
          </label>
        </div>
      </li>
      <li>
        <div class="checkbox">
          <label>
            <input id="plan-metal-level-catastrophic" class="plan-metal-level-selection-filter checkbox-custom" name="plan-metal-level-catastrophic" type="checkbox" data-plan-metal-level-filter="catastrophic">
            <label for="plan-metal-level-catastrophic" class="checkbox-custom-label"><span data-toggle="tooltip" data-placement="right" data-container="body" title="<%= l10n('insured.plan_shoppings.plan_filters_catastrophic_title_info') %>"><%= l10n("catastrophic") %></span></label>
          </label>
        </div>
      </li>
          <!--<li>
            <div class="checkbox">
              <label>
                <input id="plan-metal-level-dental" class="plan-metal-level-selection-filter checkbox-custom" name="plan-metal-level-dental" type="checkbox" data-plan-metal-level-filter="dental">
                <label for="plan-metal-level-dental" class="checkbox-custom-label">Dental</label>
              </label>
            </div>
          </li>-->
        </ul>
      </div>
      <% end %>
      <div class="checkbox-filter-wrapper">
        <h5><strong><%= l10n(".plan_type") %></strong> <a href="#" data-toggle="tooltip" data-container="body" data-placement="right" title="<%= l10n("insured.plan_shoppings.plan_type_title_info") %>"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></h5>

        <ul class="list-unstyled">
          <li>
            <div class="checkbox">
              <label>
                <input id="checkbox-10" class="plan-type-selection-filter checkbox-custom" name="checkbox-10" type="checkbox" data-plan-category-filter="hmo">
                <label for="checkbox-10" class="checkbox-custom-label"><span data-toggle="tooltip" data-placement="right" data-container="body" title="<%= l10n("insured.plan_shoppings.HMO_title_info") %>"><%= l10n("HMO") %></span></label>
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label>
                <input id="checkbox-11" class="plan-type-selection-filter checkbox-custom" name="checkbox-11" type="checkbox" data-plan-category-filter="ppo">
                <label for="checkbox-11" class="checkbox-custom-label"><span data-toggle="tooltip" data-placement="right" data-container="body" title="<%= l10n("insured.plan_shoppings.PPO_title_info") %>"><%= l10n("PPO") %></span></label>
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label>
                <input id="checkbox-12" class="plan-type-selection-filter checkbox-custom" name="checkbox-12" type="checkbox" data-plan-category-filter="pos">
                <label for="checkbox-12" class="checkbox-custom-label"><span data-toggle="tooltip" data-placement="right" data-container="body" title="<%= l10n("insured.plan_shoppings.POS_title_info") %>"><%= l10n("POS") %></span></label>
              </label>
            </div>
          </li>
        </ul>
      </div>
      <div class="checkbox-filter-wrapper">
        <h5><strong><%= l10n("network") %></strong> <a href="#" data-toggle="tooltip" data-container="body" data-placement="right" title="<%= l10n("insured.plan_shoppings.network_title_info") %>"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></h5>

        <ul class="list-unstyled">
          <li>
            <div class="checkbox">
              <label>
                <input id="checkbox-13" class="plan-metal-network-selection-filter checkbox-custom" name="checkbox-13" type="checkbox" data-plan-metal-network-filter="nationwide">
                <label for="checkbox-13" class="checkbox-custom-label"><span data-toggle="tooltip" data-placement="right" data-container="body" title="<%= l10n('insured.plan_shoppings.nationwide_title_info') %>"><%= l10n("nationwide") %></span></label>
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label>
                <input id="checkbox-14" class="plan-metal-network-selection-filter checkbox-custom" name="checkbox-14" type="checkbox" data-plan-metal-network-filter="dc metro">
                <label for="checkbox-14" class="checkbox-custom-label"><span data-toggle="tooltip" data-placement="right" data-container="body" title="<%= l10n('insured.plan_shoppings.DC-Metro_title_info') %>"><%= l10n("DC-Metro") %></span></label>
              </label>
            </div>
          </li>
        </ul>
      </div>
      <div class="checkbox-filter-wrapper">
        <h5><strong><%= l10n("carrier") %></strong> <a href="#" data-toggle="tooltip" data-placement="right" title="<%= l10n('filter_by_the_carrier') %>"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></h5>
        <ul class="list-unstyled">
          <li>
            <div class="filter-input-block">
              <%= select_tag :carrier, options_for_select(@carriers), class: "plan-carrier-selection-filter", include_blank: "All" %>
            </div>
          </li>
        </ul>
      </div>
      <div class="checkbox-filter-wrapper">
        <h5><strong><%= l10n("hsa_eligible") %></strong> <a href="#" data-toggle="tooltip" data-container="body" data-placement="right" title="<%= l10n("insured.plan_shoppings.hsa_eligible_title_info") %>"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></h5>
        <ul class="list-unstyled">
          <li>
            <div class="filter-input-block">
              <%= select_tag :hsa_eligibility, options_for_select(["Yes", "No"]), class: "plan-hsa-eligibility-selection-filter", include_blank: "All" %>
            </div>
          </li>
        </ul>
      </div>
      <div class="checkbox-filter-wrapper">
        <h5><strong><%= l10n("premium_amount") %></strong> <a href="#" data-toggle="tooltip" data-placement="right" title="<%= l10n('insured.plan_shoppings.premium_amount_title_info') %>"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></h5>
        <div class="filter-input-block">
          <input type="text" class="plan-metal-premium-from-selection-filter form-control" placeholder="$0" value='0'>
          <small>To</small>
          <input type="text" class="plan-metal-premium-to-selection-filter form-control" placeholder="$<%= @max_total_employee_cost || 2000 %>" value='<%= @max_total_employee_cost || 2000 %>'>
          <%= hidden_field_tag :max_total_employee_cost, (@max_total_employee_cost || 2000) %>
        </div>
        <br/>
        <br/>
        <h5><strong><%= l10n("deductible_amount") %></strong></h5>
        <div class="filter-input-block">
          <input type="text" class="plan-metal-deductible-from-selection-filter form-control" placeholder="$0" value='0'>
          <small>To</small>
          <input type="text" class="plan-metal-deductible-to-selection-filter form-control" placeholder="$<%= @max_deductible || 5000 %>" value='<%= @max_deductible || 5000 %>'>
          <%= hidden_field_tag :max_deductible, (@max_deductible || 5000) %>
        </div>
      </div>
      <% if @person.is_consumer_role_active? && @tax_household.present? && @market_kind == "individual" %>
      <div class="aptc">
        <hr />
        <div class="row">
          <div class="col-xs-6">
            <p class='title'><%= l10n("aptc").to_s.upcase %></p>
            <p class='title'><%= l10n("available") %></p>
            <p><span><%= number_to_currency(@max_aptc, precision: 2) %></span></p>
          </div>
          <div class="col-xs-6">
            <p class='title'><br /></p>
            <p class='title'><%= l10n("used") %></p>
            <p>$ <input type="text" id='elected_aptc' value="<%= number_with_precision(@elected_aptc, precision: 2) %>" onchange="setMinMax(this, <%=@max_aptc%>)" /></p>
          </div>
        </div>
        <%= hidden_field_tag :max_aptc, @max_aptc %>
        <%= hidden_field_tag :market_kind, @market_kind %>
        <%= hidden_field_tag :coverage_kind, @coverage_kind %>
        <%= hidden_field_tag :set_elected_aptc_url, set_elected_aptc_insured_plan_shopping_path(id: @hbx_enrollment.try(:id)) if @hbx_enrollment.present? %>
        <form onsubmit="return false" oninput="pct.value = (elected_pct.value*100).toFixed(0)">
          <input name='elected_pct' type="range" min='0' max='1' value="0.85" step='0.05'/>
          <span><output name="pct">85</output>%</span>
        </form>
      </div>
      <% end %>
      <div class="checkbox-filter-wrapper">
        <div class="form-inline search-apply-wrapper">
          <a href="javascript:void(0);" class="btn btn-primary apply-btn  mz"><%= l10n("apply") %></a>
          <a href="javascript:void(0);" class="btn btn-default reset-btn"><%= l10n("reset") %></a>
        </div>
      </div>
    </div>
  </div>
